
 custom styles 
body {
     text-align: center;
    padding: 4em;
    background:  #000000;
    font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
    display: block;
}
input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}

.borderless td, .borderless th {
    border: none;
  
}
.table {
   margin: auto;
   width: 50% !important; 
  
}

